markdown-callouts
markdown-exec
mkdocs
mkdocs-autorefs
mkdocs-coverage
mkdocs-git-revision-date-localized-plugin
mkdocs-llmstxt
mkdocs-material
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-section-index
mkdocstrings
mkdocstrings-python
pymdown-extensions
