annotated-types==0.7.0
argh==0.30.5
babel==2.17.0
backrefs==5.8
bracex==2.5.post1
brei==0.2.4
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
copier==9.6.0
dunamai==1.23.1
entangled-cli==2.1.12
filelock==3.18.0
funcy==2.0
ghp-import==2.1.0
griffe==1.7.2
idna==3.10
jinja2==3.1.6
jinja2-ansible-filters==1.3.2
markdown==3.8
markdown-it-py==3.0.0
markupsafe==3.0.2
mawk==0.1.4
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.1
mkdocs-entangled-plugin==0.4.0
mkdocs-get-deps==0.2.0
mkdocs-include-markdown-plugin==7.1.5
mkdocs-material==9.6.12
mkdocs-material-extensions==1.3.1
mkdocstrings==0.29.1
mkdocstrings-python==1.16.10
packaging==24.2
paginate==0.5.7
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.7
plumbum==1.9.0
prompt-toolkit==3.0.51
ptyprocess==0.7.0
pydantic==2.11.3
pydantic-core==2.33.1
pygments==2.19.1
pymdown-extensions==10.14.3
python-dateutil==2.9.0.post0
pywin32==310 ; platform_python_implementation != 'PyPy' and sys_platform == 'win32'
pyyaml==6.0.2
pyyaml-env-tag==0.1
questionary==2.1.0
requests==2.32.3
rich==13.9.4
rich-argparse==1.7.0
six==1.17.0
tomlkit==0.12.5
typing-extensions==4.13.2
typing-inspection==0.4.0
urllib3==2.4.0
watchdog==3.0.0
wcmatch==10.0
wcwidth==0.2.13
